name: build

on:
  push:
    branches:
      - main
    paths-ignore:
      - "benchmark/**"
  pull_request:
  schedule:
    - cron: "0 10 * * 5" # JST 19:00 (Fri)

jobs:
  test:
    name: test (Ruby ${{ matrix.ruby }}, Go ${{ matrix.go }})

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        ruby:
          - "3.3"
          - "3.4"
          - "4.0"
        go:
          - "1.24.11"
          - "1.25"

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ruby/setup-ruby@8a836efbcebe5de0fe86b48a775b7a31b5c70c93 # v1.277.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go }}
          cache-dependency-path: "ext/**/*.sum"

      - name: bundle update
        run: |
          set -xe
          bundle config path vendor/bundle
          bundle update --all --jobs $(nproc) --retry 3

      - run: bundle exec rake clobber
      - run: bundle exec rake compile

      - run: bundle exec rake spec
        timeout-minutes: 3 # Workaround for hung-up

      - run: bundle exec rake go:test
      - run: bundle exec rake go:testrace

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}
          matrix: ${{ toJson(matrix) }}

  rbs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ruby/setup-ruby@8a836efbcebe5de0fe86b48a775b7a31b5c70c93 # v1.277.0
        with:
          ruby-version: .tool-versions
          bundler-cache: true

      - name: bundle update
        run: |
          set -xe
          bundle config path vendor/bundle
          bundle update --all --jobs $(nproc) --retry 3

      - run: bundle exec rbs collection install
      - run: bundle exec rbs validate
      - run: bundle exec steep check --jobs=$(nproc)

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}

  yard:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ruby/setup-ruby@8a836efbcebe5de0fe86b48a775b7a31b5c70c93 # v1.277.0
        with:
          ruby-version: .tool-versions
          bundler-cache: true

      - name: bundle update
        run: |
          set -xe
          bundle config path vendor/bundle
          bundle update --all --jobs $(nproc) --retry 3

      - name: yard generating test
        run: |
          set -xe
          bundle exec yard
          ls -ld doc/

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}

  golangci-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ext/funnel_http/go.mod

      - uses: ruby/setup-ruby@8a836efbcebe5de0fe86b48a775b7a31b5c70c93 # v1.277.0
        with:
          ruby-version: .tool-versions
          bundler-cache: true

      - name: export CGO_CFLAGS for golangci-lint
        run: bundle exec rake go:build_envs[CGO_CFLAGS] >> $GITHUB_ENV

      - run: echo $CGO_CFLAGS

      - name: export BUILD_TAG for golangci-lint
        run: echo "BUILD_TAG=$(bundle exec rake go:build_tag)" >> $GITHUB_ENV

      - run: echo $BUILD_TAG

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version-file: ../../.golangci-lint-version
          working-directory: ext/funnel_http/
          args: --build-tags ${{ env.BUILD_TAG }} --timeout=5m

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}

  govulncheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ext/funnel_http/go.mod
          cache: true
      - run: go install golang.org/x/vuln/cmd/govulncheck@latest

      - uses: ruby/setup-ruby@8a836efbcebe5de0fe86b48a775b7a31b5c70c93 # v1.277.0
        with:
          ruby-version: .tool-versions
          bundler-cache: true

      - name: export CGO_CFLAGS for govulncheck
        run: bundle exec rake go:build_envs[CGO_CFLAGS] >> $GITHUB_ENV
      - run: echo $CGO_CFLAGS

      - name: export BUILD_TAG for govulncheck
        run: echo "BUILD_TAG=$(bundle exec rake go:build_tag)" >> $GITHUB_ENV
      - run: echo $BUILD_TAG

      # FIXME: golang/govulncheck-action@v1 doesn't support `-tags` arg
      # - uses: golang/govulncheck-action@v1
      #   with:
      #     go-version-file: ext/funnel_http/go.mod
      #     work-dir: ext/funnel_http/
      - run: govulncheck -C ext/funnel_http/ -format text -tags "${BUILD_TAG}" ./...

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}

  all-pass:
    if: always()

    needs:
      - test
      - rbs
      - yard
      - golangci-lint
      - govulncheck

    runs-on: ubuntu-latest

    steps:
      - name: check dependent jobs
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
